* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* Page Satu Start*/
header.container-satu {
    background-image: url(../assets/img/sunset.png);
    width: 100%;
    height: 1080px;
    /* -z-index: -10; */
}

nav.navbar {
    display: flex;
    padding: 20px 0;
    background-color:rgba(33, 28, 51, 0.8);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    position: fixed;
    box-shadow: 0px -95px 169px #211C33, 0px -47.5464px 84.5825px rgba(33, 28, 51, 0.760333), 0px -28.6397px 50.9486px rgba(33, 28, 51, 0.651589), 0px -18.3538px 32.6505px rgba(33, 28, 51, 0.570895), 0px -11.8955px 21.1614px rgba(33, 28, 51, 0.5), 0px -7.48807px 13.3209px rgba(33, 28, 51, 0.429105), 0px -4.30236px 7.65367px rgba(33, 28, 51, 0.348411), 0px -1.89358px 3.36858px rgba(33, 28, 51, 0.239667);
    /* margin-bottom: 50px; */
    z-index: 99;
}

/* hamburger menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    width: 25%;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -5px;
    top: -3px;
    cursor: pointer;
    z-index: 10;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #c6c6cc;
    border-radius: 3px;
    transition: all 0.5s;
}


/* hamburger menu animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
    
}
.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
    
}
.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: white;
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0px);
    background-color: white;

    
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}


img {
    height: 70px;
    width: 70px;
    margin-left: 35px;
}

nav ul {
    /* position: fixed; */
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 30%;
    list-style: none;
    font-size: 26px;
    align-items: center;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #c6c6c6;
    font-family: kanit, sans-serif;
    transition: ease-in-out 0.3s;
}

nav ul li a:hover{
    color: #fffefe;
} 


.judul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1-page-satu {
    font-size: 40px;
    margin:  200px 20px;
    font-family: kanit, sans-serif;
    color: #001A24;
    text-shadow: 0px -56px 80px rgba(0, 0, 0, 0.14), 0px -23.3955px 33.4221px rgba(0, 0, 0, 0.10064), 0px -12.5083px 17.869px rgba(0, 0, 0, 0.083455), 0px -7.01207px 10.0172px rgba(0, 0, 0, 0.07), 0px -3.72406px 5.32008px rgba(0, 0, 0, 0.056545), 0px -1.54966px 2.21381px rgba(0, 0, 0, 0.0393604);
}
/* Page Satu End */

section.container-dua {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 168px;
    background-color: #211C33;
    height: 1300px;
    /* box-shadow: 0px -95px 169px #211C33, 0px -47.5464px 84.5825px rgba(33, 28, 51, 0.760333), 0px -28.6397px 50.9486px rgba(33, 28, 51, 0.651589), 0px -18.3538px 32.6505px rgba(33, 28, 51, 0.570895), 0px -11.8955px 21.1614px rgba(33, 28, 51, 0.5), 0px -7.48807px 13.3209px rgba(33, 28, 51, 0.429105), 0px -4.30236px 7.65367px rgba(33, 28, 51, 0.348411), 0px -1.89358px 3.36858px rgba(33, 28, 51, 0.239667); */
}

/* Suhu Start */

.h1-page-suhu {
    padding-top: 50px;
    font-family: kanit, sans-serif;
    color: #19BAFF;
    text-align: center;
    font-size: 64px;
}

.container-input {
    gap: 20px;
    display: grid;
    padding-top: 140px;
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin: 70px;
    position: relative;
}

.label-suhu {
    font-size: 32px;
    color: #C6C6C6;
    font-family: kanit, sans-serif;
}

.input-suhu {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 94.68px;
    border: 5px solid #C6C6C6;
    overflow: hidden;
    flex: end;
}

.input-suhu input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0px;
    outline: none;
    margin-left: 20px;
    width: 90%;
    height: 88px;
    letter-spacing: 5px;
    color: #C6C6C6;
    font-size: 50px;
    font-family: kanit, sans-serif;
}

span.logo-suhu {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-family: kanit, sans-serif;
    color:#8F8F8F;
    margin-right: 20px;
}

/* Suhu End */

/* Page Uang Start */
section.container-tiga {
    width: 100%;
    padding-top: 200px;
    background-color: #211C33;
    height: 1300px;
    display: flex;
    justify-content: center;
}

.page-third {
    background-image: url(../assets/img/uang.png);
    opacity: 3%;
    width: 1541px;
    height: 1027px;
    display: flex;
    position: absolute;
    z-index: 1;
}
.h1-page-uang {
    color: #00DA57;
    font-size: 64px;
    text-align: center;
    font-family: kanit, sans-serif;
}
/* Page Uang End */


/* Page Panjang Start */
section.container-empat {
    width: 100%;
    padding-top: 150px;
    background-color: #211C33;
    height: 1300px;
    display: flex;
    position: relative;
    justify-content: center;
}

.page-empat {
    background-image: url(../assets/img/panjang.png);
    opacity: 5%;
    width: 100%;
    height: 1050px;
    display: flex;
    position: absolute;
}

.h1-page-panjang {
    padding-top: 50px;
    color: #F9B755;
    font-size: 64px;
    text-align: center;
    font-family: kanit, sans-serif;
}

.page-panjang {
    z-index: 99;
}

#inputType {
    width: 176px;
    height: 50px;
    border-radius: 10px;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: transparent;
    color: #8F8F8F;
    border: 3px solid white;
}

#resultType {
    margin-top: 125px;
    margin-left: 25px;
    width: 177px;
    height: 50px;
    border-radius: 10px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: 3px solid white;
    color: #8F8F8F;
}

#input{
    margin-right: 25px;
    height: 100px;
    margin-top: 25px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

#result{
    height: 100px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;

    
}

.option{
    font-family: arial;
    font-weight: bold;
    font-size: 1000px;
}

/* Page Panjang End */

/* Responsive Tablet */


/* Responsive Mobile */
@media screen and (min-width: 1200px) {
    .h1-page-satu {
        font-size: 64px;
        margin:  220px 380px;
    }
}

@media screen and (max-width: 768px) {
    header.container-satu {
        background-image: url(../assets/img/sunset-mobile.png);
    }

    .menu-toggle {
        width: 15%;
    }
    .menu-toggle {
        display: flex;
    }

    img {
    height: 40px;
    width: 40px;
    }
    .h1-page-satu {
        padding-top: 150px;
        font-size: 24px;
        margin:  150px 30px;
    }

    .h1-page-suhu {
        font-size: 24px;
    }
    .h1-page-uang {
        font-size: 24px;
    }

    .h1-page-panjang {
        font-size: 24px;
    }

}

@media (max-width: 500px) {
    .menu-toggle {
        width: 25%;
    }

    nav ul{
        position: absolute;
        right: 0;
        top: 84px;
        height: 40vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #29233c;
        z-index: -100;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
        margin-right: 0;
        border-radius: 5px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul.slide {
        transform: translatey(0);
        opacity: 1;
    }
}


