*,*::after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;
    font-size: 16px;
    margin: 0%;
    background: linear-gradient(to right bottom, #1b9dc2 #031f6a);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.cmin_box{
    width: 600px;
    padding: 50px;
    background: #1b9dc2;
    border-radius: 15px;
    color: #fff;
}
.cmin_box_row{
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    text-align: left;
}
/* .cmin_box_row label { 
    display: block;
    font-size: 22px;
}
.cmin_box_row div {
    width: 50px;
}
.cmin_box_row input {
    width: 100px;
    padding: 12px;
    border-radius: 5px;
    border: 0;
}
.cmin_box_row strong{
    padding: 10px;
}
.cmin_box_row button{
    padding: 8px 15px;
    border: 0;
    border-radius: 5px;
    background: #03158a;
    color: #fff;
} */