*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(315deg, #0066FF, #00FFCC);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 10px 24px;
    border-radius: 20px;
    width: 490px;
}

h1{
    color: #364547;
    margin-left: 72px;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}